header {
    margin: 0;
}

nav #navbarlist {
    background-color: rgb(46, 54, 52);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 15px;
}

#navbarlist li {
    display: inline-block;
}

#navbarlist li a {
    padding: 15px;
    box-sizing: border-box;
    color: #d6d6d6;
    font-size: 22px;
    margin-right: 20px;
    text-decoration: none;
}

#navbarlist li a:hover {
    background-color: #ffffff;
    color: #292929;
}

#name_title{
    text-align: center;
    padding: 1.5cm;
}

body {
    background-color: #1f1f1f;
    color: beige;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}