header {
    background-color: #cfcfcf;
    background-image: linear-gradient(to bottom, #cfcfcf 75%,
            #1f1f1f);
    color: #242424;
    padding: 30px;
    padding-bottom: 50px;
}

body {
    background-color: #1f1f1f;
    color: beige;
    font-family: Helvetica, sans-serif;
}

nav ul #navbarlist {
    display: flex;
}

nav ul li {
    display:block;
}