body {
    background-color: #616161;
    color: beige;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#name_desc_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
}

#name {
    display: block;
    text-align: center;
    margin-top: 2.6cm;
    margin-bottom: 10px;
    font-size: 85px;
}

#name_title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}

#about {
    background-color: #3b3b3b;
    border-radius: 22px;
    width: 75%;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}

#mywork {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
    align-items: center;
    margin: 5vw;
    gap: 15px;
}

.card {
    position: relative;
    flex-basis: calc(25% - 1px);
    max-width: 20vw;
    min-width: 200px;
    transition: transform 0.3s ease-out;
}

.card:hover {
    transform: scale(1.25);
    z-index: 1;
}

.card_disp {
    max-width: 100%;
    height: auto;
}

hr {
    width: 84.755%;
    border-top: .7vh solid white;
}